* {
  padding: 0;
  margin: 0;
}
html {
  display: inline-block;
}
body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

main {
  background-color: white;
  width: 600px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.image-product {
  width: 300px;
  border-radius: 20px 0 0 20px;
}
.general {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
}
.subtitle {
  font-size: 14px;
  font-weight: 500;
  color: rgba(10, 10, 10, 0.7);
  padding: 2em 0 2em 0;
}
.title {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  color: rgba(10, 10, 10, 0.86);
  padding: 0 0 0.6em 0;
}
.description {
  font-size: 14px;
  font-weight: 300;
  color: rgba(10, 10, 10, 0.6);
  line-height: 1.7em;
}
.price {
  display: flex;
  color: hsl(158, 36%, 37%);
  font-size: 30px;
  font-family: "Fraunces", sans-serif;
  margin-bottom: 0.6em;
  margin-top: 0.7em;
}
.old-price {
  margin-left: 1.5em;
  display: flex;
  text-decoration: line-through;
  font-size: 14px;
  color: rgba(10, 10, 10, 0.6);
}
.btn {
  text-align: center;
  color: white;
  background-color: hsl(158, 36%, 37%);
  padding: 1.2em 2em 1.2em 2em;
  font-weight: 700;
  font-size: 14px;
  border-radius: 10px;
}
.btn:active {
  background-color: hsl(158, 36%, 14%);
}
a {
  text-decoration: none;
  color: white;
}
.attribution {
  font-size: 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 710px) {
  main {
    width: 350px;
  }
  .image-product-mobile {
    width: 100%;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
  }

  .image-product {
    display: none;
  }
  .subtitle {
    padding: 0 0em 0.5em 0;
  }

  .title {
    font-size: 27px;
    padding-bottom: 0.4;
  }

  .price {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }
  .btn {
    margin-bottom: 1em;
    margin-right: 0;
    padding: 1.2em 1em 1.2em 2em;
  }
  .general {
    width: 320px;
  }
}

@media screen and (max-width: 430px) {
  main {
    width: 85%;
    margin: auto;
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .general {
    width: 80%;
  }
  .title {
    font-size: 27px;
    padding-bottom: 0.4;
  }
}
@media screen and (min-width: 711px) {
  .image-product-mobile {
    display: none;
  }
}
